<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<a th:href="@{/login}">MAIN PAGE</a>
<a href="@{/register}">Register</a>


<div class="container">

  <form class="form-inline my-2 my-lg-0">
    <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/login}">Login</a>
    <a class="btn btn-outline-success my-2 my-sm-0" href="#">Logout</a>
    <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/register}">Register</a>
  </form>

  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>
  <div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead>
    <tr>
      <th>Edit</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a class="btn btn-primary btn-sm" href="#"><i class="fas fa-pencil-alt"></i></a>&nbsp;
        <a class="btn btn-danger btn-sm" href="#"><i class="far fa-trash-alt"></i></a>&nbsp;
      </td>
      <td>John</td>
      <td>Doe</td>
      <td> john@example.com</td>
    </tr>
    <tr>
      <td>
        <a class="btn btn-primary btn-sm" href=""><i class="fas fa-pencil-alt"></i></a>&nbsp;
        <a class="btn btn-danger btn-sm" href=""><i class="far fa-trash-alt"></i></a>&nbsp;
      </td>
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr>
      <td>
        <a class="btn btn-primary btn-sm" href=""><i class="fas fa-pencil-alt"></i></a>&nbsp;
        <a class="btn btn-danger btn-sm" href=""><i class="far fa-trash-alt"></i></a>&nbsp;
      </td>
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>
    </tbody>
  </table>
    </div>
</div>

</body>
</html>
